#header {
		background:black;
		height:80px;
		
		margin-left:-8px;
		margin-right:-8px;
		margin-top:-8px;
}

#logo { display:inline-block;
		margin-left:310px;
		margin-top:30px;
}

#nav {display:inline-block;
	  color:white;
	  font-size:14px;
	  position:absolute;
	  right:310px;
	  top:38px;}

span {margin:0px 14px;}

#github-top { position:absolute;
			  right:10px;
			  top:38px;
			 }




.main {
		float:left;
		width:100%;
}

#bd {
	padding:0px 310px;
	background-color :#f6f6f6;}

.sub { float:left;
	   margin-left:-100%;
	  width:310px;
	  position:relative;
	  left:-310px;}

.extra {
		float:left;
		width:310px;
		margin-left:-310px;
		position:relative;
	    right:-310px;
}

#section1 {
			
			display:inline-block;
			width:320px;
			height:400px;
			background:white;
			
			


		}

